/* Revoir la font-family */

.ex-title {
    color: #FF7417;
    font-family: 'ChunkFive', 'Roboto', 'Arial';
}

.ex-subtitle {
    color: purple;
    margin-top: -25px;
}

.ex-card-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.p-card {
    width: 75%;
    background: purple;
    margin-bottom: 20px;
}