.nav {
    width: 100%;
    display: flex;
    border: 1px solid black;
}

.logo {
    height: 100px;
    padding: 0;
    margin: 16px;
    margin-right: -20px;
}

/* à modifier */

.p-menubar {
    height: 100px;
    width: 300%;
    background: purple;
    
}
