/* I use this CSS file to have formatted classNames for my components. */

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-title {
  display: flex;
  justify-content: center;
}

.purple-white {
  color: #fff;
  background: purple;
}
